html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Baches y Cachibaches
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
	body
		.main.container
			.row
				.col-md-6.col-md-offset-3
					h1.display-4.m-b-2 Usuarios
					hr
					a.btn.btn-success.btn-lg(href='../usuario/create') Nuevo Usuario
		hr
		table.table
			thead
				tr
					th ID
					th Nombres
					th Apellidos
					th Telefono
					th Celular
					th Ciudad
					th Contrase침a
					th Direcci칩n
					th E-mail
					th Tarjeta
					th Fecha de Expiraci칩n
					th C칩digo de Seguridad
					th Clave
					th Opciones
			tbody
				for item in data
					tr.form-group
						td= item._id
						td= item.nombres
						td= item.apellidos
						td= item.telefono
						td= item.celular
						td= item.ciudad
						td= item.contrasenia
						td= item.direccion
						td= item.email
						td
							table
								for tarjeta in item.tarjeta
									tr.form-group
										td=tarjeta.nro
						td
							table
								for tarjeta in item.tarjeta
									tr.form-group
										td=tarjeta.fec_exp
						td
							table
								for tarjeta in item.tarjeta
									tr.form-group
										td=tarjeta.cod_seg
						td
							table
								for tarjeta in item.tarjeta
									tr.form-group
										td=tarjeta.clave
						td
							a.btn.btn-warning(href='../usuario?_id='+item._id) Editar
							
							form(method='POST' action='../usuario/delete')
								div.form-group
									input#id.form-control(type='hidden' name='_id' value=item._id)
								div.form-group
									button.btn.btn-danger(type='submit') Eliminar
