html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Sistema
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
	body
		.main.container
			.row
				.col-md-6.col-md-offset-3
					h1.display-4.m-b-2 Editar Producto
					hr
					a.btn.btn-success.btn-lg(href='../producto/create') Nuevo Producto
		hr
		table.table
			thead
				tr
					th ID
					th Nombre
					th Descripción
					th Precio
					th Opciones
			tbody
				for item in data
					trdiv.form-group
						td= item._id
						td= item.nombre
						td= item.descripcion
						td= item.precio
						td
							a.btn.btn-warning(href='../producto?_id='+item._id) Editar
							
							form(method='POST' action='../producto/delete')
								
									input#_id.form-control(type='hidden' name='_id' value=item._id)
								div.form-group
									button.btn.btn-danger(type='submit') Eliminar